<div *ngFor="let resume of resumes">
  <h2>{{resume.FirstName}} {{resume.MiddleName}} {{resume.LastName}}, {{resume.Suffix}}</h2>
  <h6>{{resume.Address1}}, {{resume.City}}, {{resume.State}} {{resume.PostalCode}}</h6>
  <h6>{{resume.EmailAddress}}, {{resume.Phone}}, Mobile: {{resume.Mobile}}, </h6>
  <hr />
  <h4>{{resume.CareerInfoTitle}}</h4>
  <hr />
  <p>{{resume.Summary}}</p>
  <ul id="limheight">
    <li *ngFor="let jobSkill of resume.JobSkills">{{jobSkill.JobSkillTitle}}</li>
  </ul>
  <hr />
  <ul *ngFor="let workHistory of resume.WorkHistory">
    <li class="empListing">{{workHistory.Employer}}, {{workHistory.StartDate | date:'MMMM yyyy'}} - {{workHistory.EndDate | date:'MMMM yyyy'}}</li>
    <li class="jobTitle">{{workHistory.JobTitle}}</li>
    <li class="jobDescription">{{workHistory.JobDescription}}</li>
    <li class="noDotLi">
      <ul *ngFor="let workHistoryDetail of workHistory.WorkHistoryDetails">
        <li class="workHistoryDetail">{{workHistoryDetail.ContentBody}}</li>
      </ul>
    </li>
    <hr />
  </ul>
</div>
