<div *ngIf="noData" id="progressDiv">
  <div style="text-align:center">
    <h2>{{ title }}!</h2>
    <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
    <br /><br />
  </div>
  <h4>Loading Resume Data, one moment please...</h4>
  <mat-progress-bar mode="indeterminate" title="Loading Resume Data, please wait one moment..."></mat-progress-bar>
</div>
<div *ngFor="let resume of resumes" id="resumeContent">
  <h2 (click)="getTokenData()">{{resume.FirstName}} {{resume.MiddleName}} {{resume.LastName}}, {{resume.Suffix}}</h2>
  <h6>{{resume.Address1}}, {{resume.City}}, {{resume.State}} {{resume.PostalCode}}</h6>
  <h6>{{resume.EmailAddress}}, {{resume.Phone}}, Mobile: {{resume.Mobile}}</h6>
  <hr />
  <h4>{{resume.CareerInfoTitle}}</h4>
  <hr />
  <p>{{resume.Summary}}</p>
  <ul id="limheight">
    <li *ngFor="let jobSkill of resume.JobSkills">{{jobSkill.JobSkillTitle}}</li>
  </ul>
  <hr />
  <ul *ngFor="let workHistory of resume.WorkHistory">
    <li class="empListing">{{workHistory.Employer}}, {{workHistory.StartDate | date:'MMMM yyyy'}} - {{workHistory.EndDate | date:'MMMM yyyy'}}</li>
    <li class="jobTitle">{{workHistory.JobTitle}}</li>
    <li class="jobDescription">{{workHistory.JobDescription}}</li>
    <li class="noDotLi">
      <ul *ngFor="let workHistoryDetail of workHistory.WorkHistoryDetails">
        <li class="workHistoryDetail">{{workHistoryDetail.ContentBody}}</li>
      </ul>
    </li>
    <hr />
  </ul>
</div>
