    
@{
    ViewData["Title"] = "Oopst! An Error has Occurred...";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center pt-3">
    <h1>Oopst! An Error has Occurred...</h1>
    <img src="~/img/please-stand-by.jpg" />
</div>