@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>We really don't have a privacy policy. This came with the house so we just use it for an excuse to make the site look much larger than it is.</p>
<p>We do not use cookies for anything intentional other than determining whether or not to display our cookie consent policy. This site does not use any tracking cookies nor does it store any information about it's visitors beyond that of simple web access logs.</p>
