@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>We really don't have a privacy policy. This came with the house so we just use it for an excuse to make the site look much larger than it is. More to come!... You have been warned.</p>
<p>We do not collect any information about any visitors to this site other than basic web access log data. No tracking cookies are used any on this site.</p>
