<h1>Reidell.Net - ASP.NET Core, Web API, LINQ, MSSQL Server (Azure), Angular, Bootstrap, Azure</h1>
<p style="font-weight: bold;">Welcome to my demo, single-page application, built with:</p>
<ul>
  <li>This application is hosted in the <a href='https://azure.microsoft.com/en-us/'>Microsoft Azure</a> cloud, using Azure Application Services and Azure MSSQL Services</li>
  <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
  <li><a href="https://www.microsoft.com/en-us/sql-server/sql-server-2017">Microsoft SQL Server</a> for Data Storage</li>
  <li><a href='https://angular.io/'>Angular v5.x</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
  <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
  <li>Review the Source Code for this application via my public <a href='https://github.com/jreidell/ResumeApi'>GitHub</a> repository</li>
</ul>
<p style="font-weight: bold;">Some technologies that are showcased within this application are:</p>
<ul>
  <li>An implementation of an Asynchronous <strong>Repository Pattern</strong> to add a layer of abstraction</li>
  <li>An implementation of the <strong>Unit of Work</strong> Pattern</li>
  <li>IoC or Inversion of Control is implemented by way of <strong>Dependency Injection</strong></li>
</ul>
<p style="font-weight: bold;font-size: 13pt;">Click the Resume Viewer link in the Navigation Menu to view realtime resume data from a cloud-based MSSQL Server Instance via an ASP.NET Core, Web API. UI Application is built on Angular version 5</p>
<!--
<p>To help you get started, we've also set up:</p>
  <ul>
    <li><strong>Client-side navigation</strong>. For example, click <em>Counter</em> then <em>Back</em> to return here.</li>
    <li><strong>Angular CLI integration</strong>. In development mode, there's no need to run <code>ng serve</code>. It runs in the background automatically, so your client-side resources are dynamically built on demand and the page refreshes when you modify any file.</li>
    <li><strong>Efficient production builds</strong>. In production mode, development-time features are disabled, and your <code>dotnet publish</code> configuration automatically invokes <code>ng build</code> to produce minified, ahead-of-time compiled JavaScript files.</li>
  </ul>
  <p>The <code>ClientApp</code> subdirectory is a standard Angular CLI application. If you open a command prompt in that directory, you can run any <code>ng</code> command (e.g., <code>ng test</code>), or use <code>npm</code> to install extra packages into it.</p>
-->
