label {
    margin-left: 5px;
}

.std-textbox-max {
    width: 515px;
    margin-left: 5px;
}

.std-textbox-200 {
    width: 200px;
    margin-left: 5px;
}

.std-textbox-150 {
    width: 150px;
    margin-left: 5px;
}

.std-textbox-100 {
    width: 100px;
    margin-left: 5px;
}

.std-textbox-50 {
    width: 100px;
    margin-left: 5px;
}

.std-textarea {

}
